
# Ignore the build dir
build/

# Ignore binaries (under third_party)
bin/

compile_commands.json

# gdb
.gdb_history

# Visual Studio cache/options directory
.vs/

# Visual Studio build 
out/

# clangd
.cache/
